# Este archivo define las variables de entorno para el frontend de GITaller.
# Para usarlo en tu entorno de desarrollo, copia este archivo a .env y modifica los valores según sea necesario.

# El puerto en el que se está ejecutando el backend.
# Este valor DEBE COINCIDIR con el 'puerto_servidor' configurado en la base de datos
# a través del panel de Administración. Si los puertos no coinciden, el frontend
# no podrá conectarse con el backend.
VITE_API_PORT=5881
